.i{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 200px;
margin: 8px 220px;
justify-content: flex-end;
align-items: flex-start;
padding: 20px;

}
.pic1 img{
    width: 300px;
    height: 320px;
   
   
}
.pic2 img{
    width: 300px;
    height: 340px;
    margin-top: 90px;
   
   
}
.pic3 img{
 width: 300px;
 height: 200px;
 
}
.pic4 img{
    width: 300px;
    height: 200px;
   }
   .pic5 img{
    width: 300px;
    height:400px
   }
   .pic6 img{
    width: 300px;
    height: 200px;
    margin-left: 350px;
   }
   